---
http_interactions:
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&clcategories=Category:All%20disambiguation%20pages%7CCategory:All%20set%20index%20articles&exsentences=1&format=json&inprop=url&piprop=original&prop=revisions%7Cinfo%7Ccoordinates%7Cextracts%7Cpageimages%7Cpageterms%7Ccategories&redirects=true&rvprop=content%7Ctimestamp&titles=Bela%20Crkva
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - inline; filename="api-result.json"
      Backend-Timing:
      - D=56706 t=1512311997112944
      X-Analytics:
      - ns=-1;special=Badtitle;https=1;nocookies=1
      X-Client-Ip:
      - 94.179.45.40
    body:
      encoding: ASCII-8BIT
      string: '{"batchcomplete":"","warnings":{"extracts":{"*":"\"exlimit\" was too
        large for a whole article extracts request, lowered to 1."}},"query":{"pages":{"3459893":{"pageid":3459893,"ns":0,"title":"Bela
        Crkva","revisions":[{"timestamp":"2017-05-09T23:51:34Z","contentformat":"text/x-wiki","contentmodel":"wikitext","*":"''''''Bela
        Crkva'''''' (Cyrillic: \u0411\u0435\u043b\u0430 \u0426\u0440\u043a\u0432\u0430,
        {{IPA-sh|b\u025b\u0302\u02d0la\u02d0 tsr\u0329\u0302\u02d0kv\u031ea|pron}})
        translates to \"White Church\" in the south Slavic languages in the [[Ekavian]]-accent
        regions. It may refer to:\n\n* [[Bela Crkva, Banat]], a town in Vojvodina,
        Serbia\n* [[Bela Crkva, Krivoga\u0161tani]], a village in the Municipality
        of Krivoga\u0161tani, Macedonia\n* [[Bela Crkva (Krupanj)]], a village in
        the Ma\u010dva District of Serbia\n* [[Topli\u010dka Bela Crkva]], original
        name of the city of Kur\u0161umlija, Serbia\n\n==See also==<!--Also of the
        same origin-->\n* [[Bila Tserkva]] (''''\u0411\u0456\u043b\u0430 \u0426\u0435\u0440\u043a\u0432\u0430''''),
        a city in the Kiev Oblast of Ukraine\n* [[Byala Cherkva]], a town in the Veliko
        Turnovo oblast of Bulgaria\n\n{{geodis}}"}],"contentmodel":"wikitext","pagelanguage":"en","pagelanguagehtmlcode":"en","pagelanguagedir":"ltr","touched":"2017-09-17T01:44:36Z","lastrevid":779619273,"length":706,"fullurl":"https://en.wikipedia.org/wiki/Bela_Crkva","editurl":"https://en.wikipedia.org/w/index.php?title=Bela_Crkva&action=edit","canonicalurl":"https://en.wikipedia.org/wiki/Bela_Crkva","extract":"<p><b>Bela
        Crkva</b> (Cyrillic: \u0411\u0435\u043b\u0430 \u0426\u0440\u043a\u0432\u0430,
        <small>pronounced\u00a0</small><span title=\"Representation in the International
        Phonetic Alphabet (IPA)\">[b\u025b\u0302\u02d0la\u02d0 tsr\u0329\u0302\u02d0kv\u031ea]</span>)
        translates to \"White Church\" in the south Slavic languages in the Ekavian-accent
        regions.","terms":{"label":["Bela Crkva"],"description":["Wikimedia disambiguation
        page"]},"categories":[{"ns":14,"title":"Category:All disambiguation pages"}]}}}}'
  recorded_at: Sun, 03 Dec 2017 14:39:57 GMT
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&clcategories=Category:All%20disambiguation%20pages%7CCategory:All%20set%20index%20articles&exsentences=1&format=json&inprop=url&lllang=ru&piprop=original&prop=revisions%7Cinfo%7Ccoordinates%7Cextracts%7Cpageimages%7Cpageterms%7Ccategories%7Clanglinks&redirects=true&rvprop=content%7Ctimestamp&titles=Bela%20Crkva,%20Banat%7CBela%20Crkva,%20Krivoga%C5%A1tani%7CBela%20Crkva%20(Krupanj)%7CTopli%C4%8Dka%20Bela%20Crkva%7CBila%20Tserkva%7CByala%20Cherkva
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - inline; filename="api-result.json"
      Backend-Timing:
      - D=70661 t=1512311997849434
      X-Analytics:
      - ns=-1;special=Badtitle;https=1;nocookies=1
      X-Client-Ip:
      - 94.179.45.40
    body:
      encoding: ASCII-8BIT
      string: '{"continue":{"excontinue":1,"continue":"||revisions|info|coordinates|pageimages|pageterms|categories|langlinks"},"warnings":{"extracts":{"*":"\"exlimit\"
        was too large for a whole article extracts request, lowered to 1."}},"query":{"redirects":[{"from":"Topli\u010dka
        Bela Crkva","to":"Kur\u0161umlija"}],"pages":{"2358299":{"pageid":2358299,"ns":0,"title":"Bela
        Crkva, Banat","revisions":[{"timestamp":"2017-11-08T04:07:25Z","contentformat":"text/x-wiki","contentmodel":"wikitext","*":"{{Infobox
        settlement\n| name                 = Bela Crkva\n| native_name          =
        \u0411\u0435\u043b\u0430 \u0426\u0440\u043a\u0432\u0430\n| image_skyline        =
        Bela Crkva, ulice III.jpg\n| imagesize            = 300px\n| image_caption        =
        Bela Crk[...]
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&clcategories=Category:All%20disambiguation%20pages%7CCategory:All%20set%20index%20articles&continue=%7C%7Crevisions%7Cinfo%7Ccoordinates%7Cpageimages%7Cpageterms%7Ccategories%7Clanglinks&excontinue=1&exsentences=1&format=json&inprop=url&lllang=ru&piprop=original&prop=revisions%7Cinfo%7Ccoordinates%7Cextracts%7Cpageimages%7Cpageterms%7Ccategories%7Clanglinks&redirects=true&rvprop=content%7Ctimestamp&titles=Bela%20[...]
[...]
