---
http_interactions:
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&clcategories=Category:All%20disambiguation%20pages%7CCategory:All%20set%20index%20articles&clprop=hidden&exsentences=1&format=json&inprop=url&piprop=original&prop=revisions%7Cinfo%7Ccoordinates%7Ccategories%7Cextracts%7Cpageimages%7Cpageterms&redirects=true&rvprop=content%7Ctimestamp&titles=Bela%20Crkva
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - inline; filename="api-result.json"
      Backend-Timing:
      - D=43879 t=1512309241552325
      X-Analytics:
      - ns=-1;special=Badtitle;https=1;nocookies=1
      X-Client-Ip:
      - 94.179.45.40
    body:
      encoding: ASCII-8BIT
      string: '{"batchcomplete":"","warnings":{"extracts":{"*":"\"exlimit\" was too
        large for a whole article extracts request, lowered to 1."}},"query":{"pages":{"3459893":{"pageid":3459893,"ns":0,"title":"Bela
        Crkva","revisions":[{"timestamp":"2017-05-09T23:51:34Z","contentformat":"text/x-wiki","contentmodel":"wikitext","*":"''''''Bela
        Crkva'''''' (Cyrillic: \u0411\u0435\u043b\u0430 \u0426\u0440\u043a\u0432\u0430,
        {{IPA-sh|b\u025b\u0302\u02d0la\u02d0 tsr\u0329\u0302\u02d0kv\u031ea|pron}})
        translates to \"White Church\" in the south Slavic languages in the [[Ekavian]]-accent
        regions. It may refer to:\n\n* [[Bela Crkva, Banat]], a town in Vojvodina,
        Serbia\n* [[Bela Crkva, Krivoga\u0161tani]], a village in the Municipality
        of Krivoga\u0161tani, Macedonia\n* [[Bela Crkva (Krupanj)]], a village in
        the Ma\u010dva District of Serbia\n* [[Topli\u010dka Bela Crkva]], original
        name of the city of Kur\u0161umlija, Serbia\n\n==See also==<!--Also of the
        same origin-->\n* [[Bila Tserkva]] (''''\u0411\u0456\u043b\u0430 \u0426\u0435\u0440\u043a\u0432\u0430''''),
        a city in the Kiev Oblast of Ukraine\n* [[Byala Cherkva]], a town in the Veliko
        Turnovo oblast of Bulgaria\n\n{{geodis}}"}],"contentmodel":"wikitext","pagelanguage":"en","pagelanguagehtmlcode":"en","pagelanguagedir":"ltr","touched":"2017-09-17T01:44:36Z","lastrevid":779619273,"length":706,"fullurl":"https://en.wikipedia.org/wiki/Bela_Crkva","editurl":"https://en.wikipedia.org/w/index.php?title=Bela_Crkva&action=edit","canonicalurl":"https://en.wikipedia.org/wiki/Bela_Crkva","categories":[{"ns":14,"title":"Category:All
        disambiguation pages","hidden":""}],"extract":"<p><b>Bela Crkva</b> (Cyrillic:
        \u0411\u0435\u043b\u0430 \u0426\u0440\u043a\u0432\u0430, <small>pronounced\u00a0</small><span
        title=\"Representation in the International Phonetic Alphabet (IPA)\">[b\u025b\u0302\u02d0la\u02d0
        tsr\u0329\u0302\u02d0kv\u031ea]</span>) translates to \"White Church\" in
        the south Slavic languages in the Ekavian-accent regions.","terms":{"label":["Bela
        Crkva"],"description":["Wikimedia disambiguation page"]}}}}}'
  recorded_at: Sun, 03 Dec 2017 13:54:01 GMT
recorded_with: VCR 3.0.3
