---
http_interactions:
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&clcategories=Category:All%20disambiguation%20pages%7CCategory:All%20set%20index%20articles&clprop=hidden&exsentences=1&format=json&generator=search&gsrlimit=3&gsrsearch=Guardians%20Of%20The%20Galaxy&inprop=url&piprop=original&prop=revisions%7Cinfo%7Ccoordinates%7Ccategories%7Cextracts%7Cpageimages%7Cpageterms&redirects=true&rvprop=content%7Ctimestamp
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - inline; filename="api-result.json"
      Backend-Timing:
      - D=278996 t=1512309262307535
      X-Analytics:
      - ns=-1;special=Badtitle;https=1;nocookies=1
      X-Client-Ip:
      - 94.179.45.40
    body:
      encoding: ASCII-8BIT
      string: '{"continue":{"excontinue":1,"continue":"||revisions|info|coordinates|categories|pageimages|pageterms"},"warnings":{"extracts":{"*":"\"exlimit\"
        was too large for a whole article extracts request, lowered to 1."}},"query":{"pages":{"18509815":{"pageid":18509815,"ns":0,"title":"Guardians
        of the Galaxy","index":1,"revisions":[{"timestamp":"2017-11-19T13:36:19Z","contentformat":"text/x-wiki","contentmodel":"wikitext","*":"The
        ''''''Guardians of the Galaxy'''''' is a fictional [[superhero team]] appearing
        in [[American comic book]]s published by [[Marvel Comics]].\n\n==Marvel Comics
        teams==\n* [[Guardians of the Galaxy (1969 team)]], the original 31st-century
        team from an alternative timeline of the Marvel Universe (Earth-691)\n* [[Guardians
        of the Galaxy (2008 team)]], the modern version of the team formed in the
        aftermath of ''''Annihilation: Conque[...]
