---
http_interactions:
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&clcategories=Category:All%20disambiguation%20pages%7CCategory:All%20set%20index%20articles&exsentences=1&format=json&inprop=url&piprop=original&prop=revisions%7Cinfo%7Ccoordinates%7Cextracts%7Cpageimages%7Cpageterms%7Ccategories&redirects=true&rvprop=content%7Ctimestamp&titles=Split
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - inline; filename="api-result.json"
      Backend-Timing:
      - D=36873 t=1512311981538328
      X-Analytics:
      - ns=-1;special=Badtitle;https=1;nocookies=1
      X-Client-Ip:
      - 94.179.45.40
    body:
      encoding: ASCII-8BIT
      string: '{"batchcomplete":"","warnings":{"extracts":{"*":"\"exlimit\" was too
        large for a whole article extracts request, lowered to 1."}},"query":{"pages":{"1582200":{"pageid":1582200,"ns":0,"title":"Split","revisions":[{"timestamp":"2017-11-21T20:41:00Z","contentformat":"text/x-wiki","contentmodel":"wikitext","*":"{{selfref|For
        the splitting of Wikipedia articles, see [[WP:SPLIT]]}}\n{{wiktionary|Split|split}}\n''''''Split''''''(''''''s'''''')
        or ''''''The Split'''''' may refer to:\n{{TOC right}}\n\n==Places==\n* [[Split,
        Croatia]], the largest coastal city in Croatia\n* [[Split Island]], an island
        in the Hudson Bay, Canada\n* [[Split Island, Falkland Islands]]\n* [[H\u1ea1f\u2019liua]]
        or Split Island, an island in the Rotuma Group of Fiji\n\n==Game[...]
