---
http_interactions:
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&clcategories=Category:All%20disambiguation%20pages%7CCategory:All%20set%20index%20articles&exsentences=1&format=json&inprop=url&piprop=original&prop=revisions%7Cinfo%7Ccoordinates%7Cextracts%7Cpageimages%7Cpageterms%7Ccategories&redirects=true&rvprop=content%7Ctimestamp&titles=definitely%20not%20found
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - inline; filename="api-result.json"
      Backend-Timing:
      - D=42517 t=1512312094311797
      X-Analytics:
      - ns=-1;special=Badtitle;https=1;nocookies=1
      X-Client-Ip:
      - 94.179.45.40
    body:
      encoding: ASCII-8BIT
      string: '{"batchcomplete":"","query":{"normalized":[{"from":"definitely not
        found","to":"Definitely not found"}],"pages":{"-1":{"ns":0,"title":"Definitely
        not found","missing":"","contentmodel":"wikitext","pagelanguage":"en","pagelanguagehtmlcode":"en","pagelanguagedir":"ltr","fullurl":"https://en.wikipedia.org/wiki/Definitely_not_found","editurl":"https://en.wikipedia.org/w/index.php?title=Definitely_not_found&action=edit","canonicalurl":"https://en.wikipedia.org/wiki/Definitely_not_found"}}}}'
  recorded_at: Sun, 03 Dec 2017 14:41:34 GMT
recorded_with: VCR 3.0.3
