---
http_interactions:
- request:
    method: get
    uri: https://ru.wikipedia.org/w/api.php?action=query&clprop=hidden&exsentences=1&format=json&inprop=url&piprop=original&prop=revisions%7Cinfo%7Ccoordinates%7Ccategories%7Cextracts%7Cpageimages%7Cpageterms&redirects=true&rvprop=content%7Ctimestamp&titles=%D0%A5%D0%B0%D1%80%D1%8C%D0%BA%D0%BE%D0%B2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - inline; filename="api-result.json"
      Backend-Timing:
      - D=103312 t=1512239021521739
      X-Analytics:
      - ns=-1;special=Badtitle;https=1;nocookies=1
      X-Client-Ip:
      - 94.179.21.124
    body:
      encoding: ASCII-8BIT
      string: '{"continue":{"clcontinue":"2489|\u0412\u0438\u043a\u0438\u043f\u0435\u0434\u0438\u044f:\u0421\u0442\u0430\u0442\u044c\u0438_\u0441_\u0443\u0442\u0432\u0435\u0440\u0436\u0434\u0435\u043d\u0438\u044f\u043c\u0438_\u0431\u0435\u0437_\u0438\u0441\u0442\u043e\u0447\u043d\u0438\u043a\u043e\u0432_\u0431\u043e\u043b\u0435\u0435_14_\u0434\u043d\u0435\u0439","continue":"||revisions|info|coordinates|extracts|pageimages|pageterms"},"warnings":{"extracts":{"*":"\"exlimit\"
        was too large for a whole article extracts request, lowered to 1."}},"query":{"pages":{"2489":{"pageid":2489,"ns":0,"title":"\u0425\u0430\u0440\u044c\u043a\u043e\u0432","revisions":[{"timestamp":"2017-11-25T03:29:17Z","contentformat":"text/x-wiki","contentmodel":"wikitext","*":"{{\u0437\u043d\u0430\u0447\u0435\u043d\u0438\u044f}}\n{{\u041d\u041f-\u0423\u043a\u0440\u0430\u0438\u043d\u0430\n
        |\u0441\u0442\u0430\u0442\u0443\u0441                = \u0413\u043e\u0440\u043e\u0434\n
        |\u0440\u0443\u0441\u0441\u043a\u043e\u0435 \u043d\u0430\u0437\u0432\u0430\u043d\u0438\u0435      =
        \u0425\u0430\u0440\u044c\u043a\u043e\u0432\n |\u043e\u0440\u0438\u0433\u0438\u043d\u0430\u043b\u044c\u043d\u043e\u0435
        \u043d\u0430\u0437\u0432\u0430\[...]
- request:
    method: get
    uri: https://ru.wikipedia.org/w/api.php?action=query&clcontinue=2489%7C%D0%92%D0%B8%D0%BA%D0%B8%D0%BF%D0%B5%D0%B4%D0%B8%D1%8F:%D0%A1%D1%82%D0%B0%D1%82%D1%8C%D0%B8_%D1%81_%D1%83%D1%82%D0%B2%D0%B5%D1%80%D0%B6%D0%B4%D0%B5%D0%BD%D0%B8%D1%8F%D0%BC%D0%B8_%D0%B1%D0%B5%D0%B7_%D0%B8%D1%81%D1%82%D0%BE%D1%87%D0%BD%D0%B8%D0%BA%D0%BE%D0%B2_%D0%B1%D0%BE%D0%BB%D0%B5%D0%B5_14_%D0%B4%D0%BD%D0%B5%D0%B9&clprop=hidden&continue=%7C%7Crevisions%7Cinfo%7Ccoordinates%7Cextracts%7Cpageimag[...]
- request:
    method: get
    uri: https://ru.wikipedia.org/w/api.php?action=query&clcontinue=2489%7C%D0%9E%D0%B1%D0%BB%D0%B0%D1%81%D1%82%D0%BD%D1%8B%D0%B5_%D1%86%D0%B5%D0%BD%D1%82%D1%80%D1%8B_%D0%A3%D0%BA%D1%80%D0%B0%D0%B8%D0%BD%D1%8B&clprop=hidden&continue=%7C%7Crevisions%7Cinfo%7Ccoordinates%7Cextracts%7Cpageimages%7Cpageterms&exsentences=1&format=json&inprop=url&piprop=original&prop=revisions%7Cinfo%7Ccoordinates%7Ccategories%7Cextracts%7Cpageimages%7Cpageterms&redirects=true&rvprop=content%7Ctimestamp&titles=%D0%A5%D0%B0%D1%80%D1%8C%D0%BA%D0%BE%D0%B2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - inline; filename="api-result.json"
      Backend-Timing:
      - D=33323 t=1512239023158230
      X-Analytics:
      - ns=-1;special=Badtitle;https=1;nocookies=1
      X-Client-Ip:
      - 94.179.21.124
    body:
      encoding: ASCII-8BIT
      string: '{"continue":{"clcontinue":"2489|\u0421\u0442\u0440\u0430\u043d\u0438\u0446\u044b_\u0441_\u043e\u0448\u0438\u0431\u043a\u0430\u043c\u0438_\u0432_\u043f\u0440\u0438\u043c\u0435\u0447\u0430\u043d\u0438\u044f\u0445","continue":"||revisions|info|coordinates|extracts|pageimages|pageterms"},"query":{"pages":{"2489":{"pageid":2489,"ns":0,"title":"\u0425\u0430\u0440\u044c\u043a\u043e\u0432","categories":[{"ns":14,"title":"\u041a\u0430\u0442\u0435\u0433\u043e\u0440\u0438\u044f:\u041e\u0431\u043b\u0430\u0441\u0442\u043d\u044b\u0435
        \u0446\u0435\u043d\u0442\u0440\u044b \u0423\u043a\u0440\u0430\u0438\u043d\u044b"},{"ns":14,"title":"\u041a\u0430\u0442\u0435\u0433\u043e\u0440\u0438\u044f:\u041f\u0420\u041e:\u0413\u043e\u0440\u043e\u0434\u0430:\u041a\u0440\u0430\u0439\u043d\u044f\u044f
        \u043f\u0440\u0430\u0432\u043a\u0430: \u0432 \u0442\u0435\u043a\u0443\u0449\u0435\u043c
        \u0433\u043e\u0434\u0443","hidden":""},{"ns":14,"title":"\u041a\u0430\u0442\u0435\u0433\u043e\u0440\u0438\u044f:\u0421\u0442\u0430\u0442\u044c\u0438
        \u0441 \u0443\u0442\u0432\u0435\u0440\u0436\u0434\u0435\u043d\u0438\u044f\u043c\u0438,
        \u043e\u0441\u043d\u043e\u0432\u0430\u043d\u043d\u044b\u043c\u0438 \u043d\u0430
        \u043d\u0435\u0430\u0432\u0442\u043e\u0440\u0438\u0442\u0435\u0442\u043d\u043e\u043c
        \u0438\u0441\u0442\u043e\u0447\u043d\u0438\u043a\u0435","hidden":""},{"ns":14,"title":"\u041a\u0430\u0[...]
- request:
    method: get
    uri: https://ru.wikipedia.org/w/api.php?action=query&clcontinue=2489%7C%D0%A1%D1%82%D1%80%D0%B0%D0%BD%D0%B8%D1%86%D1%8B_%D1%81_%D0%BE%D1%88%D0%B8%D0%B1%D0%BA%D0%B0%D0%BC%D0%B8_%D0%B2_%D0%BF%D1%80%D0%B8%D0%BC%D0%B5%D1%87%D0%B0%D0%BD%D0%B8%D1%8F%D1%85&clprop=hidden&continue=%7C%7Crevisions%7Cinfo%7Ccoordinates%7Cextracts%7Cpageimages%7Cpageterms&exsentences=1&format=json&inprop=url&piprop=original&prop=revisions%7Cinfo%7Ccoordinates%7Ccategories%7Cextracts%7Cpageimages%7Cpageterms&redirects=true&rvprop=content%7Ctimestamp&titles=%D0%A5%D0%B0%D1%80%D1%8C%D0%BA%D0%BE%D0%B2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - inline; filename="api-result.json"
      Backend-Timing:
      - D=39951 t=1512239023710096
      X-Analytics:
      - ns=-1;special=Badtitle;https=1;nocookies=1
      X-Client-Ip:
      - 94.179.21.124
    body:
      encoding: ASCII-8BIT
      string: '{"batchcomplete":"","query":{"pages":{"2489":{"pageid":2489,"ns":0,"title":"\u0425\u0430\u0440\u044c\u043a\u043e\u0432","categories":[{"ns":14,"title":"\u041a\u0430\u0442\u0435\u0433\u043e\u0440\u0438\u044f:\u0421\u0442\u0440\u0430\u043d\u0438\u0446\u044b
        \u0441 \u043e\u0448\u0438\u0431\u043a\u0430\u043c\u0438 \u0432 \u043f\u0440\u0438\u043c\u0435\u0447\u0430\u043d\u0438\u044f\u0445","hidden":""},{"ns":14,"title":"\u041a\u0430\u0442\u0435\u0433\u043e\u0440\u0438\u044f:\u0425\u0430\u0440\u044c\u043a\u043e\u0432"}]}}}}'
  recorded_at: Sat, 02 Dec 2017 18:23:43 GMT
recorded_with: VCR 3.0.3
