---
http_interactions:
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&clcategories=Category:All%20disambiguation%20pages&clprop=hidden&exsentences=1&format=json&generator=search&gsrlimit=3&gsrsearch=Foobar&inprop=url&piprop=original&prop=revisions%7Cinfo%7Ccoordinates%7Ccategories%7Cextracts%7Cpageimages%7Cpageterms&redirects=true&rvprop=content%7Ctimestamp
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - inline; filename="api-result.json"
      Backend-Timing:
      - D=201233 t=1512213522621944
      X-Analytics:
      - ns=-1;special=Badtitle;https=1;nocookies=1
      X-Client-Ip:
      - 94.179.21.124
    body:
      encoding: ASCII-8BIT
      string: '{"continue":{"excontinue":1,"continue":"||revisions|info|coordinates|categories|pageimages|pageterms"},"warnings":{"extracts":{"*":"\"exlimit\"
        was too large for a whole article extracts request, lowered to 1."}},"query":{"pages":{"11178":{"pageid":11178,"ns":0,"title":"Foobar","index":1,"revisions":[{"timestamp":"2017-12-01T01:37:06Z","contentformat":"text/x-wiki","contentmodel":"wikitext","*":"{{Distinguish|FUBAR}}\n{{Redirect|Foo|other
        uses|Foo (disambiguation)}}\nThe terms ''''''foobar'''''' ({{IPAc-en|\u02c8|f|u\u02d0|b|\u0251r}}),
        or ''''''foo'''''' and others are used as [[placeholder name]]s (also referred
        to as [[metasyntactic variable]]s) in [[computer programming]] or computer-related
        documentation.<ref name=\"rfc3092\">{{cite web|last1=Eastlake|first1=D|last2=Manros|first2=C|last3=Raymond|first3=E|title=Etymology
        of \"Foo\"|url=http://www.ietf.org/rfc/rfc3092.txt|website=The Internet Engineering
        Task Force|accessdate=17 April 2016}}</ref> They have been used to name entities
        such as [[Variable (computer science)|variable]]s, [[Function (computer science)|functions]],
        and [[command (computing)|command]]s whose exact identity is unimportant and
        serve only [...]
