---
http_interactions:
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&clcategories=Category:All%20disambiguation%20pages%7CCategory:All%20set%20index%20articles&clprop=hidden&exsentences=1&format=json&inprop=url&piprop=original&prop=revisions%7Cinfo%7Ccoordinates%7Ccategories%7Cextracts%7Cpageimages%7Cpageterms&redirects=true&rvprop=content%7Ctimestamp&titles=Paris%7CBerlin%7CRome
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - inline; filename="api-result.json"
      Backend-Timing:
      - D=111183 t=1512309296581053
      X-Analytics:
      - ns=-1;special=Badtitle;https=1;nocookies=1
      X-Client-Ip:
      - 94.179.45.40
    body:
      encoding: ASCII-8BIT
      string: '{"continue":{"excontinue":1,"continue":"||revisions|info|coordinates|categories|pageimages|pageterms"},"warnings":{"extracts":{"*":"\"exlimit\"
        was too large for a whole article extracts request, lowered to 1."}},"query":{"pages":{"3354":{"pageid":3354,"ns":0,"title":"Berlin","revisions":[{"timestamp":"2017-12-02T15:26:26Z","contentformat":"text/x-wiki","contentmodel":"wikitext","*":"{{About|the
        capital of Germany}}\n{{pp-move-indef}}\n{{Use dmy dates|date=January 2017}}\n{{Infobox
        German state\n|Name=Berlin\n|German_name=\n|image_photo={{Photomontage|position=center\n|
        photo1a = Siegessaeule_Aussicht_10-13_img4_Tiergarten.jpg\n| photo2a = Bikinihaus_Berlin-1210760.jpg
        \n| photo2b = Brandenburger_Tor_Nachts.JPG\n| photo3a = Mauricio Macri visit\u00f3
        el monumento a las v\u00edctimas del Holocausto en Berl\u00edn (7116482017).jpg\n|
        photo3b = 3806 Berlin.JPG\n| photo4a= Reichstag_Berlin_Germany.jpg\n   | size
        = 280\n   | spacing = 2\n   | color = \n   | border = 0\n   | foot_montage
        = {{nobreak|From top: Skyline including the [[Fernsehturm Berlin|TV Tower]],}}<br
        />[[City West]], [[Brandenburg Gate]],<br />[[East Side Gallery]] ([[Berlin
        Wall]]), [[Oberbaum Bridge]] (River [[Spree]]),<br />[[Reichstag building]]
        (Bundestag)\n}}\n|state_coa=Coat of arms of Berlin.svg\n|coa_size=70\n|map=Deutschland
        Lage Berlins.svg\n|coordinates={{coord|52|31|00|N|13|23|20|E|format=dms|display=inline,title}}\n|flag=Flag_of_Berlin.svg\n|area=891.7\n|area_source=\n|population=3671000
        \n|pop_ref=<ref name=\"Population11\">{{cite web|url=https://www.statistik-berlin-brandenburg.de/pms/2017/17-02-24a.pdf|title=Amt
        f\u00fcr Statistik Berlin Brandenburg|work=[[Amt f\u00fcr Statistik Berlin-Brandenburg]]|year=2016|accessdate=28
        February 2017|language=German}}</ref>\n|pop_date=2016\n|pop_metro=6004857\n|elevation=34\n|population_demonym=Berliner
        (m), Berlinerin (f)\n|GDP=130/ $152\n|GDP_year=2016\n|GDP_ref=<ref>{{cite
        web|url=http://www.vgrdl.de/VGRdL/tbls/tab.jsp?rev=RV2014&tbl=tab01&lang=de-DE#tab01|title=Bruttoinlandsprodukt
        \u2013 in jeweiligen Preisen \u2013 in Deutschland 1991 bis 2015 nach Bundesl\u00e4ndern
        (WZ 2008)|first=Statistisches Landesamt|last=Baden-W\u00fcrttemberg|date=|work=vgrdl.de}}</ref>\n|GDP_per_capita=35,600/
        $41,900\n|GDP_per_capita_year=2015\n|GDP_percent=\n|Website=[http://www.berlin.de/en/
        berlin.de]\n|governing_body=[[Abgeordnetenhaus of Berlin]]\n|leader_title=[[Governing
        Mayor of Berlin|Governing Mayor]]\n|leader=[[Michael M\u00fcller (politician)|Michael
        M\u00fcller]]\n|leader_party=[[Social Democratic Party of Germany|SPD]]\n|ruling_party1=[[Social
        Democratic Party of Germany|SPD]]\n|ruling_party2=[[The Left (Germany)|Left]]\n|ruling_party3=[[Alliance
        90/The Greens|Greens]]\n|votes=4\n|NUTS=DE3\n|Vorwahl=030\n|Kfz=B<small></small><ref>Prefixes
        for vehicle registration were introduced in 1906, but often changed due to
        the political changes after 1945. Vehicles were registered under the following
        prefixes: \"I A\" (1906&nbsp;\u2013 April 1945; devalidated on 11 August 1945);
        no prefix, only digits (from July to August 1945), \"\u0411\u0413\" (=BG;
        1945\u201346, for cars, lorries and busses), \"\u0413\u0424\" (=GF; 1945\u201346,
        for cars, lorries and busses), \"\u0411M\" (=BM; 1945\u201347, for motor bikes),
        \"\u0413M\" (=GM; 1945\u201347, for motor bikes), \"KB\" (i.e.: [[Allied Kommandatura|Kommandatura]]
        of Berlin; for all of Berlin 1947\u201348, continue[...]
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&clcategories=Category:All%20disambiguation%20pages%7CCategory:All%20set%20index%20articles&clprop=hidden&continue=%7C%7Crevisions%7Cinfo%7Ccoordinates%7Ccategories%7Cpageimages%7Cpageterms&excontinue=1&exsentences=1&format=json&inprop=url&piprop=original&prop=revisions%7Cinfo%7Ccoordinates%7Ccategories%7Cextracts%7Cpageimages%7Cpageterms&redirects=true&rvprop=content%7Ctimestamp&titles=Paris%7CBerlin%7CRome
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - inline; filename="api-result.json"
      Backend-Timing:
      - D=54184 t=1512309297419903
      X-Analytics:
      - ns=-1;special=Badtitle;https=1;nocookies=1
      X-Client-Ip:
      - 94.179.45.40
    body:
      encoding: ASCII-8BIT
      string: '{"continue":{"excontinue":2,"continue":"||revisions|info|coordinates|categories|pageimages|pageterms"},"warnings":{"extracts":{"*":"\"exlimit\"
        was too large for a whole article extracts request, lowered to 1."}},"query":{"pages":{"3354":{"pageid":3354,"ns":0,"title":"Berlin"},"22989":{"pageid":22989,"ns":0,"title":"Paris","extract":"<p><b>Paris</b>
        (<small>French pronunciation:\u00a0\u200b</small><span title=\"Representation
        in the International Phonetic Alphabet (IPA)\">[pa\u0281i]</span><small class=\"nowrap\">\u00a0(<span><span><span>\u00a0</span>listen</span></span>)</small>)
        is the capital and most populous city of France, with an administrative-limits
        area of 105 square kilometres (41 square miles) and a 2015 population of 2,229,621."},"25458":{"pageid":25458,"ns":0,"title":"Rome"}}}}'
  recorded_at: Sun, 03 Dec 2017 13:54:57 GMT
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&clcategories=Category:All%20disambiguation%20pages%7CCategory:All%20set%20index%20articles&clprop=hidden&continue=%7C%7Crevisions%7Cinfo%7Ccoordinates%7Ccategories%7Cpageimages%7Cpageterms&excontinue=2&exsentences=1&format=json&inprop=url&piprop=original&prop=revisions%7Cinfo%7Ccoordinates%7Ccategories%7Cextracts%7Cpageimages%7Cpageterms&redirects=true&rvprop=content%7Ctimestamp&titles=Paris%7CBerlin%7CRome
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - inline; filename="api-result.json"
      Backend-Timing:
      - D=40635 t=1512309297894471
      X-Analytics:
      - ns=-1;special=Badtitle;https=1;nocookies=1
      X-Client-Ip:
      - 94.179.45.40
    body:
      encoding: ASCII-8BIT
      string: '{"batchcomplete":"","warnings":{"extracts":{"*":"\"exlimit\" was too
        large for a whole article extracts request, lowered to 1."}},"query":{"pages":{"3354":{"pageid":3354,"ns":0,"title":"Berlin"},"22989":{"pageid":22989,"ns":0,"title":"Paris"},"25458":{"pageid":25458,"ns":0,"title":"Rome","extract":"<p><b>Rome</b>
        (<span></span> <small title=\"English pronunciation respelling\"><i><b>ROHM</b></i></small>;
        Italian: <span lang=\"it\" xml:lang=\"it\"><i>Roma</i></span> <span title=\"Representation
        in the International Phonetic Alphabet (IPA)\">[\u02c8ro\u02d0ma]</span><small
        class=\"nowrap\">\u00a0(<span><span><span>\u00a0</span>listen</span></span>)</small>,
        Latin: <span lang=\"la\" xml:lang=\"la\"><i>R\u014dma</i></span>) is the capital
        of Italy and a special comune (named <i>Comune di Roma Capitale</i>)."}}}}'
  recorded_at: Sun, 03 Dec 2017 13:54:57 GMT
recorded_with: VCR 3.0.3
