---
http_interactions:
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&clcategories=Category:All%20disambiguation%20pages%7CCategory:All%20set%20index%20articles&clprop=hidden&exsentences=1&format=json&inprop=url&piprop=original&prop=revisions%7Cinfo%7Ccoordinates%7Ccategories%7Cextracts%7Cpageimages%7Cpageterms&redirects=true&rvprop=content%7Ctimestamp&titles=Paris,%20France
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - inline; filename="api-result.json"
      Backend-Timing:
      - D=100997 t=1512309304669222
      X-Analytics:
      - ns=-1;special=Badtitle;https=1;nocookies=1
      X-Client-Ip:
      - 94.179.45.40
    body:
      encoding: ASCII-8BIT
      string: '{"batchcomplete":"","warnings":{"extracts":{"*":"\"exlimit\" was too
        large for a whole article extracts request, lowered to 1."}},"query":{"redirects":[{"from":"Paris,
        France","to":"Paris"}],"pages":{"22989":{"pageid":22989,"ns":0,"title":"Paris","revisions":[{"timestamp":"2017-12-01T20:07:38Z","contentformat":"text/x-wiki","contentmodel":"wikitext","*":"{{About|the
        capital of France}}\n{{pp-pc1}}\n{{Good article}}\n{{Use dmy dates|date=February
        2015}}\n{{EngvarB|date=November 2016}}\n{{Infobox French commune\n|name =
        Paris\n|commune status = [[Communes of France|Commune]] and [[Departments
        of France|department]]\n|image = <center>{{Photomontage |border=0  |size=275
        |spacing=2 |color=none |photo1a=Seine and Eiffel Tower from Tour Saint Jacques
        2013-08.JPG |photo2a=Arc Triomphe (square).jpg |photo2b=Notre Dame dalla Senna.jpg
        |photo3a=Louvre Museum Wikimedia Commons.jpg}}</center>\n|caption = Clockwise
        from top: skyline of Paris on the [[Seine|River Seine]] with the [[Eiffel
        Tower]], [[Notre-Dame de Paris]], Pyramid of the [[Louvre]], and the [[Arc
        de Triomphe]]\n|image flag = Flag of Paris.svg\n|image flag size = x95px\n|image
        coat of arms = Grandes_Armes_de_Paris.svg\n|image coat of arms size = x95px\n|city
        motto = {{lang|fr|''''[[Fluctuat nec mergitur]]''''}}<br /> {{smaller|\"Tossed
        but never sunk\"}}\n|coordinates = {{coord|48.8567|2.3508|type:city(2200000)_region:FR|format=dms|display=inline,title}}\n|mayor
        = [[Anne Hidalgo]]\n|party = [[Socialist Party (France)|PS]]\n|term = {{nowrap|2014\u20132020}}\n|subdivisions
        entry = [[Administrative division|Subdivisions]]\n|subdivisions = [[Arrondissements
        of Paris|20 arrondissements]]\n|total type = City\n|area km2 = 105.4\n|area
        footnotes = <ref name=\"area\">[http://www.statistiques-locales.insee.fr/Fiches%5CRS%5CDEP%5C75%5CCOM%5CRS_COM75056.pdf
        INSEE local statistics], including [[Bois de Boulogne]] and [[Bois de Vincennes]].</ref>\n|INSEE=75056\n|population
        date = 2013\n|population footnotes = <ref name=\"insee.fr\">{{cite web|url=http://www.insee.fr/fr/themes/comparateur.asp?codgeo=dep-75
        |title=R\u00e9sum\u00e9 statistique \u2013 D\u00e9partement de Paris (75)|author=[[INSEE]]|accessdate=2016-08-11|language=[...]
