---
http_interactions:
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&clcategories=Category:All%20disambiguation%20pages&clprop=hidden&exsentences=1&format=json&inprop=url&piprop=original&prop=revisions%7Cinfo%7Ccoordinates%7Ccategories%7Cextracts%7Cpageimages%7Cpageterms&redirects=true&rvprop=content%7Ctimestamp&titles=Bear
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - inline; filename="api-result.json"
      Backend-Timing:
      - D=68903 t=1512239032734941
      X-Analytics:
      - ns=-1;special=Badtitle;https=1;nocookies=1
      X-Client-Ip:
      - 94.179.21.124
    body:
      encoding: ASCII-8BIT
      string: '{"batchcomplete":"","warnings":{"extracts":{"*":"\"exlimit\" was too
        large for a whole article extracts request, lowered to 1."}},"query":{"pages":{"4400":{"pageid":4400,"ns":0,"title":"Bear","revisions":[{"timestamp":"2017-11-16T08:44:00Z","contentformat":"text/x-wiki","contentmodel":"wikitext","*":"{{about|the
        carnivoran mammals}}\n{{pp-move-indef}}\n{{pp-semi|small=yes}}\n{{good article}}\n{{Automatic
        taxobox\n| taxon=Ursidae\n| name=Bears\n| fossil_range={{Geological range|38|0}}Late
        [[Eocene]] \u2013 Recent\n| image=2010-brown-bear.jpg \n| image_upright=0.9\n|
        image_caption=[[Brown bear]]\n| authority=[[Johann Fischer von Waldheim|G.
        Fischer de Waldheim]], 1817\n| subdivision_ranks=Subfamilies\n| subdivision
        =\n\u2020[[Amphicynodontinae]]<br>\n\u2020[[Hemicyonidae|Hemicyoninae]]<br>\n\u2020[[Ursavini|Ursavinae]]<br>\n\u2020[[Agriotheriinae]]<br>\n[[Ailuropodinae]]<br>\n[[Tremarctinae]]<br>\n[[Ursinae]]\n}}\n''''''Bears''''''
        are [[carnivora]]n [[mammal]]s of the [[family (biology)|family]] ''''''Ursidae''''''.
        They are classified as [[caniformia|caniforms]], or doglike carnivorans. Although
        only eight [[species]] of bears are extant, they are widespread, appearing
        in a wide variety of [[habitat]]s thr[...]
