---
http_interactions:
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&clcategories=Category:All%20disambiguation%20pages&format=json&inprop=url&prop=revisions%7Cinfo%7Ccoordinates%7Ccategories&redirects=true&rvprop=content%7Ctimestamp&titles=definitely%20not%20found
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - inline; filename="api-result.json"
      Backend-Timing:
      - D=32901 t=1512072562941380
      X-Analytics:
      - ns=-1;special=Badtitle;https=1;nocookies=1
      X-Client-Ip:
      - 94.179.61.146
    body:
      encoding: ASCII-8BIT
      string: '{"batchcomplete":"","query":{"normalized":[{"from":"definitely not
        found","to":"Definitely not found"}],"pages":{"-1":{"ns":0,"title":"Definitely
        not found","missing":"","contentmodel":"wikitext","pagelanguage":"en","pagelanguagehtmlcode":"en","pagelanguagedir":"ltr","fullurl":"https://en.wikipedia.org/wiki/Definitely_not_found","editurl":"https://en.wikipedia.org/w/index.php?title=Definitely_not_found&action=edit","canonicalurl":"https://en.wikipedia.org/wiki/Definitely_not_found"}}}}'
  recorded_at: Thu, 30 Nov 2017 20:09:23 GMT
recorded_with: VCR 3.0.3
