---
http_interactions:
- request:
    method: get
    uri: https://ru.wikipedia.org/w/api.php?action=query&format=json&meta=siteinfo&siprop=namespaces%7Cnamespacealiases%7Cinterwikimap
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - inline; filename="api-result.json"
      Backend-Timing:
      - D=51234 t=1512206898801760
      X-Analytics:
      - ns=-1;special=Badtitle;https=1;nocookies=1
      X-Client-Ip:
      - 94.179.21.124
    body:
      encoding: ASCII-8BIT
      string: '{"batchcomplete":"","query":{"namespaces":{"-2":{"id":-2,"case":"first-letter","canonical":"Media","*":"\u041c\u0435\u0434\u0438\u0430"},"-1":{"id":-1,"case":"first-letter","canonical":"Special","*":"\u0421\u043b\u0443\u0436\u0435\u0431\u043d\u0430\u044f"},"0":{"id":0,"case":"first-letter","content":"","*":""},"1":{"id":1,"case":"first-letter","subpages":"","canonical":"Talk","*":"\u041e\u0431\u0441\u0443\u0436\u0434\u0435\u043d\u0438\u0435"},"2":{"id":2,"case":"first-letter","subpages":"","canonical":"User","*":"\u0423\u0447\u0430\u0441\u0442\u043d\u0438\u043a"},"3":{"id":3,"case":"first-letter","subpages":"","canonical":"User
        talk","*":"\u041e\u0431\u0441\u0443\u0436\u0434\u0435\u043d\u0438\u0435 \u0443\u0447\u0430\u0441\u0442\u043d\u0438\u043a\u0430"},"4":{"id":4,"case":"first-letter","subpages":"","canonical":"Project","*":"\u0412\u0[...]
- request:
    method: get
    uri: https://ru.wikipedia.org/w/api.php?action=query&clcategories=Category:All%20disambiguation%20pages&clprop=hidden&format=json&inprop=url&prop=revisions%7Cinfo%7Ccoordinates%7Ccategories&redirects=true&rvprop=content%7Ctimestamp&titles=%D0%9F%D0%B0%D1%80%D0%B8%D0%B6
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - inline; filename="api-result.json"
      Backend-Timing:
      - D=82973 t=1512206899444555
      X-Analytics:
      - ns=-1;special=Badtitle;https=1;nocookies=1
      X-Client-Ip:
      - 94.179.21.124
    body:
      encoding: ASCII-8BIT
      string: '{"batchcomplete":"","query":{"pages":{"6214":{"pageid":6214,"ns":0,"title":"\u041f\u0430\u0440\u0438\u0436","revisions":[{"timestamp":"2017-11-06T21:27:03Z","contentformat":"text/x-wiki","contentmodel":"wikitext","*":"{{\u041d\u041f\n
        |\u0441\u0442\u0430\u0442\u0443\u0441                  = \u0413\u043e\u0440\u043e\u0434\n
        |\u0440\u0443\u0441\u0441\u043a\u043e\u0435 \u043d\u0430\u0437\u0432\u0430\u043d\u0438\u0435        =
        \u041f\u0430\u0440\u0438\u0436\n |\u043e\u0440\u0438\u0433\u0438\u043d\u0430\u043b\u044c\u043d\u043e\u0435
        \u043d\u0430\u0437\u0432\u0430\u043d\u0438\u0435   = {{lang-fr|Paris}}\n |\u0441\u0442\u0440\u0430\u043d\u0430                  =
      [...]
