---
http_interactions:
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&clcategories=Category:All%20disambiguation%20pages%7CCategory:All%20set%20index%20articles&exsentences=1&format=json&inprop=url&piprop=original&prop=revisions%7Cinfo%7Ccoordinates%7Cextracts%7Cpageimages%7Cpageterms%7Ccategories&redirects=true&rvprop=content%7Ctimestamp&titles=John%20F.%20Kennedy
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - inline; filename="api-result.json"
      Backend-Timing:
      - D=135287 t=1512321293499686
      X-Analytics:
      - ns=-1;special=Badtitle;https=1;nocookies=1
      X-Client-Ip:
      - 94.179.45.40
    body:
      encoding: ASCII-8BIT
      string: '{"batchcomplete":"","warnings":{"extracts":{"*":"\"exlimit\" was too
        large for a whole article extracts request, lowered to 1."}},"query":{"pages":{"5119376":{"pageid":5119376,"ns":0,"title":"John
        F. Kennedy","revisions":[{"timestamp":"2017-12-02T20:27:07Z","contentformat":"text/x-wiki","contentmodel":"wikitext","*":"{{pp-semi-indef}}
        \n{{pp-move-indef}}\n{{redirect-multi|3|JFK|John Kennedy|Jack Kennedy}}\n{{Use
        mdy dates|date=July 2014}}\n{{Infobox officeholder\n| name          = John
        F. Kennedy\n| order         = 35th\n| office        = President of the United
        States\n| image         = John F. Kennedy, White House photo portrait, looking
        up.jpg<!--DO NOT change without gaining talk page consensus-->\n| caption       =
        John F. Kennedy in Februa[...]
